*{
  color: rgba(245, 166, 185, 1);
}
body{
  background-color: #282c34;
}
a{
  text-decoration: none;
}
h1{
  font-size: 30px;
  text-align: left;
  border-bottom:1px solid gray;
  margin: 0px;
  padding: 20px;
}
ul{
  border-right: 1px solid gray;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
li{
  margin: 10px;
}
#grid ul{
  padding-left:30px;
}
#grid{
  display: grid;
  grid-template-columns: 190px 1fr;
}
#grid #article{
  padding-left:29px;
  padding-top:10px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid #article{
    padding-left:20px;
  }
  ul{
    border-right: none;
  }
}